body {
    margin: 0;
    padding: 0;
  }
  
  .parallax-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .parallax-sec {
    background: url('porsche-1.jpg') center/cover fixed;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .sec2 {
    
    background: url('porsche2.jpg') center/cover fixed;
    background-repeat: no-repeat;
    background-position: left;
    
  }
  
  .sec3 {
    background: url('porsche1.jpg') center/cover fixed;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  

  /* Reduce the background image size for .sec1, .sec2, .sec3 */
  .sec1 {
    background-size: 100%;
  }
  
  .sec2 {
    background-size: 100%;
  }
  
  .sec3 {
    background-size: 100%;
  }
    /* Style for the button */
.but {
    background-color: #ffffff; 
    color: #333333;
    padding: 0px 0px; 
    border: none; 
    border-radius: 10px; 
    font-size: 16px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 370px;
    width: 100px;
    text-align: center;
  }
  
.but:hover {
    background-color: #fffbfb; 
  }
  

  