#logo
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 60px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}


#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}


h2, h3 {
    font-size: 24px;
    color: #555;
    margin-top: 20px;
}

.embed-responsive {
    margin-top: 20px;
}


p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}


ul {
    list-style: disc;
    margin-left: 20px;
}

#logo
{
    margin: 0;
    padding: 0;
    height: 60px;
    width: 60px;
}

.progress {
    height: 20px;
    margin-top: 20px;
}

.progress-bar {
    background-color: #007bff; 
    color: #fff;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
